@charset "utf-8";

body {
    background-color: #FCF6F5;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    box-sizing: border-box;
}

li {
    list-style: none;
}

section {
    width: 900px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

section>div {
    border: 1px solid;
    box-sizing: border-box;
}

.wcont {
    padding: 20px 50px;
}
